@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #eaeaea;
    color: #333;
}

* {
    font-family : 'Tinos', serif;
}

.container {
    background-color : #fff;
}